@use "../../foundation/variables" as *;
@use "../../foundation/mixin" as *;

/* u-hidden */
.u-hidden {
  display: none !important;
}
.md-only {
  @media (min-width: $bp-md) {
    display: none !important;
  }
}
.md-hidden {
  @media (max-width: $bp-md) {
    display: none !important;
  }
}

/* u-sr-only */
.u-sr-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
<<<<<<< HEAD

.u-mt-50 {
  margin-top: 50px !important;
}

.u-text-pink {
  color: $color-pink;
}
=======
>>>>>>> parent of 5b20fdd (更新)
